@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

@keyframes fadein {
	from {
		background-color: black;
		color: white;
	}
	to {
		background-color: white;
		color: black;
	}
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
	padding: 0;
	margin: 0;
}

input[type='file']::file-selector-button {
	width: 76px;
	height: 24px;
	background: black;
	color: white;
	border: 1px solid rgb(77, 77, 77);
	cursor: pointer;
	&:hover {
		background: rgb(77, 77, 77);
		color: #fff;
	}
}
